
body{
  background:#F4F4F4;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #000;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header {
  background-color: #222;
  padding-top:15px;
  padding-bottom: 15px;
  color: white;
}
.header .container div{
  display:inline-block;
}
.header .container .logo{
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  margin-right:10px;
  height: 12px;
  border-color: transparent transparent transparent #ffffff;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 6px 0 6px 8px;
}
.header .container a{
  text-decoration:none;
  color:#fff;
}

.header .container .title{
  margin-right:10px
}

@media (max-width: 767px){
  .header .container .search-container{
    width:250px;
  }
}
@media (max-width: 399px){
  .header .container .search-container{
    width:200px;
  }
}
@media (min-width: 768px){
  .header .container .search-container{
    width:400px;
  }
}
.header .container .search-container input{
  border:0;
  padding-left:10px;
  padding-right:10px;
  width:100%;
}

.content{

  padding-top:15px;
  padding-bottom:15px;
}
.content > .container{
  padding-top:15px;
  padding-bottom:15px;
  background:#fff;
}

.play-button {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 20px;
  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 10px 0 10px 14px;
}
.play-button:hover {
  border-color: transparent transparent transparent #404040;
}

.video-trailer button{
  background:0;
  color:0;
  border:none;
  padding:0;
  margin-right:5px;
  margin-bottom:5px;
  outline:0;
  cursor: pointer;
}

.video-trailer button:hover{
  opacity:0.8;
}
a:hover{
  opacity:0.8;
}
.separator{
  border-bottom:1px solid #ccc;
  margin-top:20px;
  margin-bottom:20px;
}

.movie-list .movie a{
  display:block;
  margin-bottom:30px;
  color:#000;
  text-decoration: none;
}


.movie-detail .overview{
  font-size:14px;
}
.movie-detail .genre{
  padding-top:15px;
  padding-bottom:15px;
  text-align:center;
  font-size:14px;
}
.movie-detail .genre div{
  padding:5px 10px;
  font-weight:bold;
  border:1px solid #ccc;
  margin-right:10px;
  margin-bottom: 10px;
  display:inline-block;
}
.movie-detail .genre div:last-child{
  margin-right:0;
}
.movie-detail .seasons{
  margin-bottom:30px;
}
.movie-detail .seasons label{
  display:block;
}
.movie-detail .seasons button{
  background:none;
  border:1px solid #000;
  min-width:30px;
  margin-left:5px;
  margin-bottom:10px;
  border-radius:15px;
  outline:none;
  cursor:pointer;
}
.movie-detail .seasons button.active{
  font-weight:bold;
  background:#000;
  color:#fff;
}
